<div class="locality">
  <%= I18n.t('forecast_for') %> <%= @zipcode.locality %>
</div>
<table border="1">
  <tr>
    <td></td>
    <td><%= I18n.t('farenheit') %></td>
    <td><%= I18n.t('celcius') %></td>
  </tr>
  <tr>
    <td><%= I18n.t('current') %></td>
    <td><%= @forecast.farenheit %></td>
    <td><%= @forecast.celcius %></td>
  </tr>
  <tr>
    <td><%= I18n.t('todays_high') %></td>
    <td><%= @forecast.farenheit_high %></td>
    <td><%= @forecast.celcius_high %></td>
  <tr>
  <tr>
    <td><%= I18n.t('todays_low') %></td>
    <td><%= @forecast.farenheit_low %></td>
    <td><%= @forecast.celcius_low %></td>
  </tr>
  <tr>
    <td colspan="3">
      <%= I18n.t('last_updated') %>: <%= @forecast.last_updated %>
    </td>
  </tr>
</table>
<br />
<%= form_with(url: "/forecast", method: :get, local: true) do |form| %>
  <%= form.label :zip, I18n.t("zipcode.zipcode") %>
  <%= form.text_field :zip, value: @zipcode.zip %>
  <%= form.submit I18n.t("get_forecast") %>
<% end %>
